<title>{% t site_title %}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/assets/css/main.css" />
<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>

{% if page.layout == 'default' %}
<meta name="description" content="{% t description %}">
{% endif %}

<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img//favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#425461">
<meta name="msapplication-TileColor" content="#425461">
<meta name="theme-color" content="#0d1f2d">

{% for lang in site.languages %}
{%- if site.lang != lang -%}
{%- if lang == "en" -%}
<link rel="alternate" hreflang="{{ lang }}" href="{{ site.url | append: site.baseurl_root | append: page.url }}"/>
{%- else -%}
<link rel="alternate" hreflang="{{ lang }}" href="{{ site.url | append: site.baseurl_root | append: '/' | append: lang | append: page.url }}"/>
{%- endif -%}
{%- endif -%}
{% endfor %}

<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html',''}}">

<meta property="og:site_name" content="{% t site_title %}">
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html',''}}">
<meta property="og:title" content="{% t site_title %}">
<meta property="og:description" content="{% t description %}">
<meta property="og:locale" content="{{ site.lang }}">
<meta property="og:updated_time" content="{{ 'now' | date_to_xmlschema }}">
{% if page.layout == 'default' %}
<script type="application/ld+json">
    {
        "@context" : "https://schema.org",
        "@type" : "WebSite",
        "name" : "{% t site_title %}",
        "url" : "{{ site.url }}{{ site.baseurl_root }}/"
    }
</script>
{%- endif -%}