<!-- Sidebar -->
<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                {% assign sections = site.sections | sort: 'order' %}
                {% for section in sections %}
                <li><a href="#section-{{ section.name | split: '.' | first }}">{% t section.title %}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <nav class="language-chooser" aria-label="{% t language %}">
            <ul>
                {% for lang in site.languages %}
                <li><a href="{% include language-url.html lang=lang %}" {% if site.lang == lang %}class="active" aria-current="true"{% endif %}>{{ lang | upcase }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</section>