<!-- Sidebar -->
<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                {% assign sections = site.sections | sort: 'order' %}
                {% for section in sections %}
                <li><a href="#section-{{ section.name | split: '.' | first }}">{% t section.title %}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <nav class="language-chooser">
            <ul>
                {% for lang in site.languages %}
                {% if lang == "en" %}
                <li><a href="{{ page.url }}" {% if site.lang == lang %}class="active"{% endif %}>{{ lang }}</a></li>
                {% else %}
                <li><a href="/{{ lang }}{{ page.url }}" {% if site.lang == lang %}class="active"{% endif %}>{{ lang }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</section>