%embed {
  width: 100%;
  max-width: 560px;
  border-radius: 12px;
  border-style: none;
}

.youtube-embed {
  @extend %embed;
  max-height: 315px;
  aspect-ratio: 16/9;
}

.spotify-embed {
  @extend %embed;
  height: 352px;
}